{% extends "base.html" %}
<head>
  <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
{% block content %}
<div class="card text-center">
  <div class="card-header" style="background-color: #e3f2fd; color: 000034;">
    Classroom Details
  </div>
  <div class="card-body">
    <h5 class="card-title" style="color: 000034;">{{classroom.name}} {{classroom.subject}}</h5>
    <p class="card-text" style="color: 000034;">{{classroom.year}}</p>
    {% if request.user == classroom.teacher %}
    <a href="{% url 'classroom-update' classroom.id %}" class="btn" style="background-color: #000034; color: white;">Update</a>
    <a href="{% url 'classroom-delete' classroom.id %}" class="btn" style="background-color: #FFA500; color: #000034;">Delete</a>
    <a href="{% url 'student-add' classroom.id %}" class="btn" style="background-color: #FFA500; color: #000034;">Add Student</a>
    {% endif %}
  </div>
  </div>
  <div>
    <br>
    <br>
  <table class="table">
  <thead class="thead-info">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Gender</th>
      <th scope="col">Exam grade</th>
      <th scope="col">Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {%for student in classroom.student.all|dictsort:"name"|dictsortreversed:"exam_grade"%}
      <th scope="row">{{student.name}}</th>
      <td>{{student.date_of_birth}}</td>
      <td>{{student.gender}}</td> 
      <td>{{student.exam_grade}}</td> 
      <td> 
        <a href="{% url 'student-update' student.id %}" class="btn" style="background-color: #000034; color: white;">Update</a>
        <a href="{% url 'student-delete' student.id %}" class="btn" style="background-color: #FFA500; color: #000034;">Delete</a>
    </tr>
    {%endfor%} 
  </tbody>
</table>


    

</div>

{% endblock content %}
